emma/core/scen/*
!emma/core/scen/si_SENTINEL.gms

**/start
**/trash
**/225a
**/225b
**/.idea
**/.ipynb_checkpoints

**/*.gdx
**/*.log
**/*.txt
!requirements.txt

**/*.lst
**/*.lxi

*.log*
_*/

.vscode/
.vs/
venv???/
venv??/
venv?/
venv/

#no need to track as it is generated automatically
**calibration.csv

#allows .xlsx only in input and preprocessing
*.xlsx
!emma/core/input/*.xlsx
!emma/preprocessing/*.xlsx
!emma/preprocessing/input/*.xlsx

*.g00
*.db
*.svg
*.png
*.csv


log_WARNING*.dat
preprocessing/friendly_scenarios_2016_1H_2030/
preprocessing/friendly_scenarios_2016_1H_2050/


