scen/*
!scen/si_SENTINEL.gms

**/start
**/trash
**/225a
**/.idea
**/.ipynb_checkpoints

**/*.gdx
**/*.log
**/*.txt
!requirements.txt

**/*.lst
**/*.lxi

*.log*
_*

.vscode/
venv/

#no need to track as it is generated automatically
**calibration.csv

#allows .xlsx only in input and preprocessing
*.xlsx
!input/*.xlsx
!preprocessing/*.xlsx
!preprocessing/input/*.xlsx

*.g00
*.db

log_WARNING*.dat
preprocessing/entsoe_key.py
preprocessing/net_exports.csv
preprocessing/when2heat_multiindex.csv
preprocessing/chp_ts.csv
log_WARNING.dat
225b/
friendly_data.zip
friendly_data/
